<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Equipamentos</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de equipamentos</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">name</th>
              <th scope="col">temp</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let equip of equipments">
              <td>{{equip.id}}</td>
              <td>{{equip.name}}</td>
              <td>{{equip.temp}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>